<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="footer" th:remove="tag">
        <footer id="footer" th:fragment="footer" th:align="center">
            <ul class="icons" th:if="${renderProjectsNav}">
                <li><a href="#tap-the-dots" class="scrolly"><span class="label">Tap The Dots</span></a></li>
                <li><a href="#frame-limiter" class="scrolly"><span class="label">Frame Limiter</span></a></li>
                <li><a href="#library" class="scrolly"><span class="label">Library</span></a></li>
                <li><a href="#computer-shop" class="scrolly"><span class="label">Computer shop</span></a></li>
                <li><a href="#horse-competition" class="scrolly"><span class="label">Horse competitions</span></a></li>
            </ul>
            <ul class="icons">
                <li><a href="https://www.facebook.com/mateusz.zweigert" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://github.com/mzweigert" class="icon circle fa-github"><span class="label">Github</span></a></li>
            </ul>
            <ul class="icons">
                <li><a th:href="@{${routes.skills}}"><span class="label" th:text="#{view.index.skills}"></span></a></li>
                <li><a th:href="@{${routes.projects}}"><span class="label" th:text="#{view.index.projects}"></span></a></li>
                <li><a th:href="@{${routes.contact}}" ><span class="label" th:text="#{view.index.contact}"></span></a></li>
            </ul>
            <ul class="copyright">
                <li th:text="#{view.index.copyright}"></li>
            </ul>
        </footer>
    </div>
</body>
</html>

