<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" th:remove="tag">
    <title>Welcome</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />


    <link rel="stylesheet" href="/resources/css/skel.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/resources/css/ie/v8.css"/><![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/resources/css/ie/v9.css"/><![endif]-->

    <!--[if lte IE 8]>
    <script src="/resources/css/ie/html5shiv.js"></script><![endif]-->
    <script src="/resources/js/jquery/jquery.min.js"></script>
    <script src="/resources/js/jquery/jquery.dropotron.min.js"></script>
    <script src="/resources/js/jquery/jquery.scrolly.min.js"></script>
    <script src="/resources/js/jquery/jquery.scrollgress.min.js"></script>
    <script src="/resources/js/skel/skel.min.js"></script>
    <script src="/resources/js/skel/skel-layers.min.js"></script>
    <script src="/resources/js/init.js"></script>

</head>
<body>
    <div th:fragment="header" th:remove="tag">
        <header id="header">
            <nav id="nav">
                <ul>
                    <li>
                        <a th:href="${routes.currentPage}">
                            <text th:text="#{view.index.lang}"></text>
                            <img src="/resources/images/pl.png" th:if="${routes.lang.equals('en')}">
                            <img src="/resources/images/en.png" th:if="${routes.lang.equals('pl')}">
                        </a>
                    </li>
                    <li><a href="/" th:text="#{view.index.welcome}"></a></li>
                    <li class="submenu">
                        <a href="">Menu</a>
                        <ul>
                            <li><a href="/skills" th:text="#{view.index.skills}"></a></li>
                            <li><a href="/projects" th:text="#{view.index.projects}"></a></li>
                            <li><a href="/contact" th:text="#{view.index.contact}"></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
</body>
</html>